<div class="container">
  <h2>Welcome to the Tech Blog!</h2>
  {{#if logged_in}}
  <button id="postButton">Create a new post</button>
  {{else}}
  <a href="/login">Log in to create a post</a>
  {{/if}}
</div>
